# Temporary office files.
~$*

# Build files.
App.xlsm
Execute.vbs
Test.xlsm

# Ignore the bootstrap execute script file.
!Script/Execute.vbs

# Runtime and deploy configuration files.
Deploy.txt
Config.xml

# Error log file.
Error.log
